

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.image-container img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.image-container img.border {
    border: 10px solid red;
}

.col-md-12 {
    text-align: left;
    
}


