

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.image-container img {
    width: 100%;
    display: block;
    box-sizing; border-box;
}

.image-container img.border {
    border: 2px solid red;
}

#id {
    text-align: left;
}